/* ButtonReferences.css */

.submitButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.submitButton:hover {
	background-color:#5cbf2a;
}
.submitButton:active {
	position:relative;
	top:1px;
}

.rejectButton {
	background-color:#f74f4f;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #e32d2d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #612a31;
}
.rejectButton:hover {
	background-color:#f54949;
}
.rejectButton:active {
	position:relative;
	top:1px;
}

.pushButton {
	background-color:#768d87;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.pushButton:hover {
	background-color:#6c7c7c;
}
.pushButton:active {
	position:relative;
	top:1px;
}

.loginButton {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.loginButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.loginButton:active {
	position:relative;
	top:1px;
}


.logoutButton {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.logoutButton:hover {
	background-color:#eb675e;
}
.logoutButton:active {
	position:relative;
	top:1px;
}

.prevButton {
	background-color:#affdff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #61e2eb;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.prevButton:hover {
	background-color:#61e2eb;
}
.prevButton:active {
	position:relative;
	top:1px;
}

.nextButton {
	background-color:#f7fcb3;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #eded5f;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.nextButton:hover {
	background-color:#eded5f;
}
.nextButton:active {
	position:relative;
	top:1px;
}

    
.backButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.editButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.editButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.editButton:active {
	position:relative;
	top:1px;
}

.backButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.backButton:active {
	position:relative;
	top:1px;
}

.searchButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:7px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.searchButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.searchButton:active {
	position:relative;
	top:1px;
}


.searchNameButton {
	-moz-box-shadow: 0px 10px 14px -7px #6e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #6e7327;
	box-shadow: 0px 10px 14px -7px #6e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7f760), color-stop(1, #7d9940));
	background:-moz-linear-gradient(top, #f7f760 5%, #7d9940 100%);
	background:-webkit-linear-gradient(top, #f7f760 5%, #7d9940 100%);
	background:-o-linear-gradient(top, #f7f760 5%, #7d9940 100%);
	background:-ms-linear-gradient(top, #f7f760 5%, #7d9940 100%);
	background:linear-gradient(to bottom, #f7f760 5%, #7d9940 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f760', endColorstr='#7d9940',GradientType=0);
	background-color:#f7f760;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #96a34e;
}
.searchNameButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d9940), color-stop(1, #f7f760));
	background:-moz-linear-gradient(top, #7d9940 5%, #f7f760 100%);
	background:-webkit-linear-gradient(top, #7d9940 5%, #f7f760 100%);
	background:-o-linear-gradient(top, #7d9940 5%, #f7f760 100%);
	background:-ms-linear-gradient(top, #7d9940 5%, #f7f760 100%);
	background:linear-gradient(to bottom, #7d9940 5%, #f7f760 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d9940', endColorstr='#f7f760',GradientType=0);
	background-color:#7d9940;
}
.searchNameButton:active {
	position:relative;
	top:1px;
}

.changeButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #e0cf7b;
	-webkit-box-shadow:inset 0px 1px 3px 0px #e0cf7b;
	box-shadow:inset 0px 1px 3px 0px #e0cf7b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e0b051), color-stop(1, #b8a47b));
	background:-moz-linear-gradient(top, #e0b051 5%, #b8a47b 100%);
	background:-webkit-linear-gradient(top, #e0b051 5%, #b8a47b 100%);
	background:-o-linear-gradient(top, #e0b051 5%, #b8a47b 100%);
	background:-ms-linear-gradient(top, #e0b051 5%, #b8a47b 100%);
	background:linear-gradient(to bottom, #e0b051 5%, #b8a47b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0b051', endColorstr='#b8a47b',GradientType=0);
	background-color:#e0b051;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #998c71;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #cfb66c;
}
.changeButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8a47b), color-stop(1, #e0b051));
	background:-moz-linear-gradient(top, #b8a47b 5%, #e0b051 100%);
	background:-webkit-linear-gradient(top, #b8a47b 5%, #e0b051 100%);
	background:-o-linear-gradient(top, #b8a47b 5%, #e0b051 100%);
	background:-ms-linear-gradient(top, #b8a47b 5%, #e0b051 100%);
	background:linear-gradient(to bottom, #b8a47b 5%, #e0b051 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8a47b', endColorstr='#e0b051',GradientType=0);
	background-color:#b8a47b;
}
.changeButton:active {
	position:relative;
	top:1px;
}

.pendingButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #e0cf7b;
	-webkit-box-shadow:inset 0px 1px 3px 0px #e0cf7b;
	box-shadow:inset 0px 1px 3px 0px #e0cf7b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7f768), color-stop(1, #b8b47b));
	background:-moz-linear-gradient(top, #f7f768 5%, #b8b47b 100%);
	background:-webkit-linear-gradient(top, #f7f768 5%, #b8b47b 100%);
	background:-o-linear-gradient(top, #f7f768 5%, #b8b47b 100%);
	background:-ms-linear-gradient(top, #f7f768 5%, #b8b47b 100%);
	background:linear-gradient(to bottom, #f7f768 5%, #b8b47b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f768', endColorstr='#b8b47b',GradientType=0);
	background-color:#f7f768;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #999971;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #d1d16b;
}
.pendingButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8b47b), color-stop(1, #f7f768));
	background:-moz-linear-gradient(top, #b8b47b 5%, #f7f768 100%);
	background:-webkit-linear-gradient(top, #b8b47b 5%, #f7f768 100%);
	background:-o-linear-gradient(top, #b8b47b 5%, #f7f768 100%);
	background:-ms-linear-gradient(top, #b8b47b 5%, #f7f768 100%);
	background:linear-gradient(to bottom, #b8b47b 5%, #f7f768 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8b47b', endColorstr='#f7f768',GradientType=0);
	background-color:#b8b47b;
}
.pendingButton:active {
	position:relative;
	top:1px;
}

.acceptedButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #7fde7a;
	-webkit-box-shadow:inset 0px 1px 3px 0px #7fde7a;
	box-shadow:inset 0px 1px 3px 0px #7fde7a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #52de62), color-stop(1, #83b87b));
	background:-moz-linear-gradient(top, #52de62 5%, #83b87b 100%);
	background:-webkit-linear-gradient(top, #52de62 5%, #83b87b 100%);
	background:-o-linear-gradient(top, #52de62 5%, #83b87b 100%);
	background:-ms-linear-gradient(top, #52de62 5%, #83b87b 100%);
	background:linear-gradient(to bottom, #52de62 5%, #83b87b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#52de62', endColorstr='#83b87b',GradientType=0);
	background-color:#52de62;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #739971;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #6ecf79;
}
.acceptedButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #83b87b), color-stop(1, #52de62));
	background:-moz-linear-gradient(top, #83b87b 5%, #52de62 100%);
	background:-webkit-linear-gradient(top, #83b87b 5%, #52de62 100%);
	background:-o-linear-gradient(top, #83b87b 5%, #52de62 100%);
	background:-ms-linear-gradient(top, #83b87b 5%, #52de62 100%);
	background:linear-gradient(to bottom, #83b87b 5%, #52de62 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#83b87b', endColorstr='#52de62',GradientType=0);
	background-color:#83b87b;
}
.acceptedButton:active {
	position:relative;
	top:1px;
}

.deleteButton {
	-moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	-webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.deleteButton:hover {
	background-color:#b34332;
}
.deleteButton:active {
	position:relative;
	top:1px;
}

.checkButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	-webkit-box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	box-shadow:inset 0px 1px 3px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #283966;
}
.checkButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.checkButton:active {
	position:relative;
	top:1px;
}
